*, *::before, *::after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
body{
    background: lightblue;
    width: 100%;
    margin: auto;
}
a{
    text-decoration: none;
    color: unset;
}

.app-wrapper{
    position: relative;
    min-height: 100vh;
}
.main-header{
    width: 100%;
    margin: auto;
    background: white;
}
.top-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
    max-width: 1000px;
    width: 98%;
    margin: auto;
    /* border: 1px solid rgb(119, 170, 187); */
}
#menu-show-button, #menu-close-button{
    position: absolute;
    right: 4px;
    top: 50%;
    transform: scale(0);
    transition: 300ms all ease-in-out;
    font-size: 1.5em;
    /* display: none; */
}

.masthead > a{
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin: 4px;
    transition: 250ms all ease-in-out;
    border-radius: 8px;
}
.masthead > a:hover{
    border-color: green;
    color: green;
}
.resume-items{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 8px;
    transform: scale(1);
    transition: 250ms all ease-in-out;
}
.resume-items > li{
    list-style-type: none;
    padding: 0 16px;
    text-align: right;
    cursor: pointer;
}
.main-link{
    letter-spacing: 1px;
}
.main-link:hover{
    color:green;
}

.main-content{
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 8px;
    overflow:auto;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.596);
    font-size: .9em;
    line-height: 1.7;
}
.fa{
    padding: 4px;
    font-size: 1.3em;
    color: rgba(0, 0, 0, 0.596);
    /* border: 1px solid green; */
    /* background: white; */
}
@media (max-width:700px){
    #menu-show-button{
        transform: scale(1);
        transform: translateY(-50%);
        cursor: pointer;
        padding: 0 2px;
        border: 1px solid rgba(0, 0, 0, 0.24);
        border-radius: 4px;
    }
    #menu-show-button:hover{
        border-color: green;
        color: green;
    }
    .resume-items{
        position: absolute;
        right: 0;
        top: 4px;
        transform: scale(0);
        flex-direction: column;
        justify-content: start;
        padding: 8px;
        height: 250px;
        width: 150px;
        text-align: center;
        z-index: 20;
        background: lightblue;
        box-shadow: 0 0 2px black;
    }
    .resume-items > li{
        padding: 8px 0;
    }
    #menu-close-button{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        border: 1px solid rgba(0, 0, 0, 0.24);
        transform: scale(1);
        font-size: .9em;
        cursor: pointer;
        border-radius: 2px;
    }
    #menu-close-button:hover{
        border-color: green;
        color: green;
    }
    
    .resume-items.show{
        z-index: 20;
        
        transform: scale(1);
    }

}