<footer>
    <p>
        <a href="https://github.com/anilbhattaraitoronto" class="fa fa-github"></a>
        <a href="https://facebook.com/anilbhattarai" class="fa fa-facebook"></a>
        <a href="https://twitter.com/anilbhattarai" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/anil-bhattarai-5a699b28" class="fa fa-linkedin"></a>
        <a href="mailto:anilbhattarai@gmail.com" class="fa fa-envelope"></a>
    </p>
    <p>&copy; Anil Bhattarai 2020 - Present. All Rights Reserved.</p>

</footer>