<header class="main-header">
    <nav class="top-nav">

        <h1 class="masthead"><a href="/">Resumé</a></h1>
        <span id="menu-show-button">&#9776;</span>

        <ul class="resume-items">
            <span id="menu-close-button">X</span>
            <li><a href="/" class="main-link">Home</a></li>
            <li><a href="/skills" class="main-link">Skills</a></li>
            <li><a href="/projects" class="main-link">Projects</a></li>
            <li><a href="/education" class="main-link">Education</a></li>
            <li><a href="/blogs" class="main-link">Blogs</a></li>
            <li><a href="/about" class="main-link">About</a></li>
            <% if (!locals.user) {%>
            <li><a href="/users/userauth" class="main-link">Login/Register</a></li>
            <%}%>
            <% if (locals.user) {%>
            <a href="/users/logout">Logout</a>
            <%}%>
        </ul>

    </nav>
</header>